/*
	Name: Menu
	Description: Default styles for responsive menu and components.
	Version: 1.0.0
	Author: Sean Kennedy @seank_au
	Author URI: http://seankennedy.com.au/
*/

/*=============================================================================
  Desktop Navigation
  ========================================================================== */
  
	@media only screen and (min-width: 1025px) {
		
		/* Display On/Off Settings
		---------------------------------------- */
		
		.js-mobile-nav,
		.nav-trigger {
			display: none;	
		}
		
		.js-desktop-nav {
			display: block;
		}
	
		/* Essential Positioning Styles
		---------------------------------------- */
		
		/* Global */
		
		.nav-list, 
		.nav-list * {
			margin: 0;
			padding: 0;
			list-style: none;
		}
		
		.nav-list ul {
			position: absolute;
			display: none;
			top: 100%;
			left: 0;
			z-index: 99;
			min-width: 15em;
		}
		
		.nav-list li {
			position: relative;
			white-space: nowrap;
		}
		
		.nav-list a,
		.nav-list a:visited {
			text-decoration: none;
			line-height: 1em;
		}
		
		.nav-list li:hover > ul,
		.nav-list li.sfHover > ul {
			display: block;
		}
		
		.nav-list a {
			display: block;
			position: relative;
		}
		
		/* 1st Tier */
		
		.nav-list > li {
			float: left;
		}
		
		/* 3rd Tier */
		
		.nav-list .sub-menu .sub-menu {
			top: 0;
			left: 100%;
		}
		
		/* Essential Arrow Styles
		---------------------------------------- */
		
		/* Global */
		
		.sf-arrows .sf-with-ul {
			padding-right: 30px;
		}
		
		.sf-arrows .sf-with-ul:after {
			content: '';
			position: absolute;
			top: 50%;
			right: 10px;
			margin-top: -2px;
			height: 0;
			width: 0;
			border: 5px solid transparent;
			border-top-color: #333;
		}
		
		/* 1st Tier */
	
		.sf-arrows > li > .sf-with-ul:focus:after,
		.sf-arrows > li:hover > .sf-with-ul:after,
		.sf-arrows > .sfHover > .sf-with-ul:after {
			border-top-color: #666;
		}
		
		/* 2nd Tier (Right Facing) */
		
		.sf-arrows .sub-menu .sf-with-ul:after {
			margin-top: -5px;
			margin-right: -3px;
			border-color: transparent;
			border-left-color: #333;
		}
	
		.sf-arrows .sub-menu li > .sf-with-ul:focus:after,
		.sf-arrows .sub-menu li:hover > .sf-with-ul:after,
		.sf-arrows .sub-menu .sfHover > .sf-with-ul:after {
			border-left-color: #666;
		}
	
	}
	
/*=============================================================================
  Mobile Navigation
  ========================================================================== */
  
	@media only screen and (max-width: 1024px) {
		
		/* Display On/Off Settings
		---------------------------------------- */
		
		.js-mobile-nav,
		.nav-trigger {
			display: block;	
		}
		
		.js-desktop-nav {
			display: none;
		}
		
		/* Mobile Nav
		---------------------------------------- */
		
		.mobile-nav {
    		opacity: 0;
    		display: block;
			position: fixed;
			width: 250px;
			height: 100%;
			right: 0;
			top: 0;
			overflow-x: hidden;
			overflow-y: scroll;
			z-index: 1;
			-webkit-transition-delay: 0.15s;
			transition-delay: 0.15s;
		}
		
		.body-wrapper {
			position: relative;
			z-index: 2;
			background: #fff;
			min-height: 100%;
			-webkit-transition: transform 0.15s ease-in-out 0s;
			transition: transform 0.15s ease-in-out 0s;
		}
		
		body.nav-open .body-wrapper {
			-webkit-transform: translate3d(-250px,0,0);
			transform: translate3d(-250px,0,0);
		}
		
		body.nav-open .mobile-nav {
    		opacity: 1;
    		-webkit-transition-delay: 0s;
    		transition-delay: 0s;
		}
  
		/* Essential Positioning Styles
		---------------------------------------- */
		
		.nav-list {
			margin: 0;
		}
		
		.nav-list li {
			position: relative;
			overflow: hidden;
		}
		
		.nav-list a {
			display: block;
			position: relative;
		}
			
		.nav-list .sub-menu {
			display: none;
			margin: 0;
		}
		
		.nav-list .menu-item-has-children > a {
			padding-right: 80px;
		}
		
		/* Current Item */
		
		.nav-list .current-menu-item > a:before,
		.nav-list .sub-menu .current-menu-item > a:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
		}
		
		/* Sub Menu Trigger
		---------------------------------------- */
		
		.sub-menu-trigger {
			position: absolute;
			top: 0;
			right: 0;
			width: 54px;
			height: 100%;
			text-align: center;
			font-size: 1.7em;
			cursor: pointer;
			z-index: 25;
		}
		
		.sub-menu-trigger i {
			position: relative;
			left: 3px;
			top: 50%;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
		}
		
	/*=============================================================================
	  Nav Trigger
	  ========================================================================== */
		
		.nav-trigger {
			float: right;
			position: relative;
			display: block;
			text-align: center;
			width: 60px;
			height: 60px;
		}
		
		.nav-trigger i {
			position: relative;
			top: 14px;
			left: 2px;
			font-size: 2em;
		}
	
	}